/*main body color*/
body{
    background-color: #F5F8FF;
}
/* nav bar styles*/
header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    padding: 20px 0 100px 0;


}
.navigation{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    margin: 50px 150px 0 50px;
    font-size: 34px;
    color: #4E47FF;
    font-weight: bold;
}
.sign-up{
    margin: 50px 150px 0 50px;
}
/*button effect*/
/*shared styles*/
.button{
    margin: 50px 150px 0 50px ;
}
 .btn {
    color: white;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
 
}
  .btn:hover {
    background-color: #0056d2;
    transform: scale(1.05);
  }
.text{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    
}
