
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*main body color*/
body{
    background-color: #F5F8FF;
}
/* nav bar styles*/
header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    padding: 20px 0 100px 0;


}
.navigation{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    margin: 50px 150px 0 150px;
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
}
.sign-up{
    margin: 50px 150px 0 50px;
}
/*button effect*/
/*shared styles*/
.text1{
    font-size: 65px;
    font-weight: bold;
}
.button{
    margin: 50px 150px 0 50px ;
}
 .btn {
    color: white;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
 
}
  .btn:hover {
    background-color: #0056d2;
    transform: scale(1.05);
  }
.text{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    
}

/* main styles*/
/*container-1*/
.container-1{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.title{
    margin: 50px 0 50px 300px ;
}
.title-name{
    font-size: 30px;
    font-weight: bold;
}
.title-description{
    font-size: 24px;
    font-weight: regular;
    color: #8C8E98;
}
.pic{
    margin-top: 20px;
    margin-right: 100px;
    border-radius:50px;
}

/*container-2*/
.container-2{
    border-radius: 10px;
    background-color: #E5E7FF;
    margin: 116px 159px 137px 141px;
    padding: 20px 50px 50px 20px;
}
.title1{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding: 20px;
}
.number{
    display: flex;
    justify-content:space-around;
    
}
.number-name{
    text-align: center;
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.number-users{
    color: #72737F;
    font-size: 20px;
    font-weight: normal;
}